.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 8px 12px;
  height: 60px;
  width: 100%;
  background-color: rgba(0, 113, 136, 1);
  color: white;


    &__title {
    font-family: Arial, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    position: absolute;



    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: inherit;
    }
  }
}
